# AWS
.aws-sam/
.cdk.staging/
cdk.out/


# Packer
*.box
*.pkrvars.hcl
crash.log
packer_cache/


# Python
__pycache__/
__pypackages__/
.*.cfg
.*.swp
.cache
.coverage
.coverage.*
.dmypy.json
.DS_Store
.eggs/
.env
.envrc
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pdm.toml
.pybuilder/
.pyre/
.pytest_cache/
.Python
.python-version
.pytype/
.ropeproject
.ropeproject/
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.venv/
.webassets-cache
*,cover
*.cover
*.egg
*.EGG
*.egg-info
*.EGG-INFO
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py,cover
*.py[cod]
*.pyc
*.pyo
*.sage.py
*.so
*.spec
*.tmp*
*/.ipynb_checkpoints/*
*~
*$py.class
/site
bin/
build/
celerybeat-schedule
celerybeat.pid
cover/
coverage.xml
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
ENV/
fake-eggs/
htmlcov/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
MANIFEST
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
profile_default/
sdist/
share/python-wheels/
target/
var/
venv.bak/
venv/
wheels/


# SASS
.sass-cache/
*.css.map
*.sass.map
*.scss.map


# Terraform
.terraformrc
*_override.tf
*_override.tf.json
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
**/.terraform/*
crash.*.log
crash.log
override.tf
override.tf.json
terraform.rc



# Node
.cache
.cache/
.docusaurus
.dynamodb/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.fusebox/
.grunt
.lock-wscript
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.pnpm-debug.log*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.stylelintcache
.temp
.tern-port
.vscode-test
.vuepress/dist
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
bower_components
build/Release
coverage
dist
jspm_packages/
lerna-debug.log*
lib-cov
logs
node_modules/
npm-debug.log*
out
pids
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
web_modules/
yarn-debug.log*
yarn-error.log*
